.Soundpads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    margin: 0 auto;
    width: auto;
    // height: auto;
    grid-gap: 2em;
    background-color: aqua;
}
