.Wrapper {
    display: grid;
    width: 60vmin;
    height: 60vmin;
    margin: 2vmin auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    background-color: aqua;
}
